body {

  font-family: "Arial", sans-serif;
}

//footer

footer {

  .container-fluid {

    background-color: #4d4d4d;
    color: white;

    .row {

      p {
        margin: 0;
        padding: 30px 0;

      }
    }
  }
}

//contacts

#contacts {

  .grey, #grey1 {

    padding: 20px 40px 0 40px;
    overflow: hidden;
    height: 300px;

    h5 {

      padding-bottom: 20px;
      border-bottom: 1px solid black;
    }

    a {

      color: black;
    }

    a:hover {

      text-decoration: none;
      color: grey;
    }

  }

  #grey2 {

    padding: 0;
  }

  .grey {

    background-color: #e7e7e7;
  }

  #grey1 {

    background-color: #f7f7f7;
  }
}

//map

#map {

  width: 100%;
  height: 300px;
  background-color: grey;
  padding: 0;
}

//logo

#logo {

  .container-fluid {

    .row {

      div {

        overflow: hidden;
        text-align: center;
      }
    }
  }

  img {

    width: 70%;
    padding: 30px;
  }
}

//slider

#slider {

  .carousel-caption {

    font-style: italic;
    bottom: 50%;
    left: 25%;
    color: white;
    text-align: left;
  }
}

//meniu

#meniu {

  .row {

    div {

      height: 120px;
    }

    a {

      color: white;
    }

    #first {

      background-color: #f73f4e;
      padding: 30px 65px;
    }

    #first:hover {

      opacity: 0.8;
    }

    #first:hover a {

      text-decoration: none;
      color: black;
    }

    #second {

      background-color: #fe772d;
      padding: 20px 65px;
    }

    #second:hover {

      opacity: 0.8;
    }

    #second:hover a {

      text-decoration: none;
      color: black;
    }

    #third {

      background-color: #f6d01d;
      padding: 40px 65px;
    }

    #third:hover {

      opacity: 0.8;
    }

    #third:hover a {

      text-decoration: none;
      color: black;
    }

    #fourth {

      background-color: #2de850;
      padding: 40px 65px;
    }

    #fourth:hover {

      opacity: 0.8;
    }

    #fourth:hover a {

      text-decoration: none;
      color: black;
    }
  }
}

//navbar

.navbar {

min-height: 100px;
  margin-bottom: 0;

  img {

    height: 80px;
  }

  button.btn {

    color: white;
    background-color: grey;
  }
}